nav,
header,
footer,
article,
section {
  display: block;
}
.nav-top,
.sec-box,
.footer,
.my-comment,
.article,
.like-share,
.comment-list {
  width: 100%;
}
a {
  color: #3b9df1;
  text-decoration: none;
}
.nav-top {
  height: 1.024rem;
  border-bottom: 1px solid #dfe0e5;
  font-size: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-top .nav-l,
.nav-top .nav-r {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background-color: #fff;
}
.nav-top .nav-l {
  width: 73.2%;
  box-sizing: border-box;
  padding-top: 0.170666666666667rem;
  padding-left: 0.341333333333333rem;
}
.nav-top .nav-r {
  width: 26.8%;
  text-align: center;
  line-height: 1.024rem;
}
.nav-top .nav-l h5 {
  height: 0.3584rem;
  font-size: 0.3072rem;
  font-weight: bold;
  margin-bottom: 0.0512rem;
}
.nav-top .nav-l p {
  font-size: 0.238933333333333rem;
}
.nav-top .nav-r .load-btn {
  width: 1.024rem;
  height: 0.512rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 1.706666666666667rem;
  font-size: 0.238933333333333rem;
  background-color: #3b9df1;
  margin-top: 0.256rem;
}
.sec-box {
  margin-top: 1.024rem;
  border-bottom: 0.136533333333333rem solid #ebecf1;
  padding: 0 0.341333333333333rem;
  box-sizing: border-box;
}
/* background-color:red; */
.my-box {
  position: relative;
  width: 100%;
  height: 1.4rem;
  font-size: 0;
}
.my-box .head-img,
.my-box .desc {
  display: inline-block;
  vertical-align: top;
}
.my-box .head-img {
  width: 0.682666666666667rem;
  height: 0.682666666666667rem;
  border-radius: 50%;
  background: #333;
  background-image: url("../img/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.3rem 0.17rem 0.4rem 0;
}
.my-box .desc {
  width: 4.84rem;
  height: 100%;
}
.my-box strong {
  display: block;
  color: #202437;
  font-size: 0.273066666666667rem;
  height: 0.341333333333333rem;
  line-height: 0.341333333333333rem;
  margin-top: 0.341333333333333rem;
}
.my-box p {
  color: #797e8b;
  font-size: 0.2048rem;
  height: 0.238933333333333rem;
  line-height: 0.238933333333333rem;
}
.my-box span {
  display: block;
  color: #797e8b;
  font-size: 0.2048rem;
}
.my-box .more {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 0.82rem;
  background: url("../img/listMore@2x.png") no-repeat center/contain;
}
.text-comment {
  font-size: 0.238933333333333rem;
  text-align: left;
  line-height: 0.341333333333333rem;
  color: #202437;
}
.like-share {
  height: 0.853333333333333rem;
  font-size: 0.238933333333333rem;
}
.like-share p {
  display: inline-block;
  height: 100%;
  color: #606676;
  line-height: 0.853333333333333rem;
  padding-right: 0.1rem;
}
.like-share p>span {
  color: #000;
  padding-right: 0.1rem;
  font-weight: bold;
}
.comment-list {
  padding: 0 0.341333333333333rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.comment-list .com-item {
  border-bottom: 0.017066666666667rem solid #ebecf1;
}
.comment-list .list-num {
  font-size: 0.3072rem;
  color: #201a23;
  margin-top: 0.426666666666667rem;
}
.comment-list .com-text {
  width: 4.84rem;
  color: #202437;
  margin-left: 0.853333333333333rem;
  margin-bottom: 0.170666666666667rem;
  font-size: 0.238933333333333rem;
  line-height: 0.341333333333333rem;
}
.comment-list .no-comment {
  font-size: 0.273066666666667rem;
  line-height: 0.341333333333333rem;
  margin-top: 1.365333333333333rem;
  text-align: center;
  color: #000;
  height: 2rem;
}
.footer {
  height: 1.024rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid #c6c8d1;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.9);
  padding-left: 0.341333333333333rem;
  font-size: 0;
}
.footer .com-input,
.footer .com-icon {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  line-height: 1.024rem;
  background-color: #fff;
}
.footer .com-input {
  width: 4.096rem;
  position: relative;
}
.footer .com-input input {
  width: 4.096rem;
  height: 0.512rem;
  outline: none;
  border: none;
  font-size: 0.238933333333333rem;
  color: #a9b1d2;
  text-indent: 0.170666666666667rem;
  border-radius: 1.706666666666667rem;
  background-color: #f6f7fb;
  margin-top: 0.256rem;
}
.footer .com-input .i-emoji {
  position: absolute;
  top: 0.1536rem;
  right: -0.119466666666667rem;
  display: inline-block;
  width: 0.750933333333333rem;
  height: 0.750933333333333rem;
  background: url("../img/enterIconEmoticon1.png") no-repeat;
  background-position: center;
  background-size: 0.4096rem 0.4096rem;
}
.footer .com-icon {
  width: 1.962666666666667rem;
  text-align: right;
}
.footer .com-icon>span {
  display: inline-block;
  width: 0.750933333333333rem;
  height: 0.750933333333333rem;
  margin-top: 0.136533333333333rem;
}
.footer .com-icon .i-good {
  background: url("../img/enterIconThumbUp1.png") no-repeat;
  background-position: center;
  background-size: 0.4096rem 0.4096rem;
}
.footer .com-icon .i-share {
  background: url("../img/navShare1.png") no-repeat;
  background-position: center;
  background-size: 0.4096rem 0.4096rem;
  margin-right: 0.170666666666667rem;
}
.other-article {
  margin-top: 0.256rem;
  border: 1px solid #e1e2e6;
  width: 100%;
  box-sizing: border-box;
  padding: 0.170666666666667rem;
  background-color: #eeeff5;
}
.other-article .my-box {
  background-color: #eeeff5;
  height: 0.768rem;
}
.other-article .my-box .desc {
  width: 4.3rem;
}
.other-article .my-box .desc strong {
  margin-top: 0;
}
.other-article .my-box .head-img {
  width: 0.597333333333333rem;
  height: 0.597333333333333rem;
  margin: 0 0.170666666666667rem 0 0;
}
.other-article .one-img .img-item {
  width: 100%;
  height: 2.645333333333334rem;
}
.other-article .two-img .img-item {
  width: 2.628266666666667rem;
  height: 2.628266666666667rem;
}
.other-article .three-img .img-item {
  width: 1.723733333333333rem;
  height: 1.723733333333333rem;
}
.other-article .text-comment {
  background-color: #eeeff5;
}
.other-article .img-comment {
  background-color: #eeeff5;
}
.img-comment {
  margin-top: 0.256rem;
}
.one-img .img-item {
  width: 100%;
  height: 3.072000000000001rem;
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.034133333333333rem;
}
.two-img {
  font-size: 0;
}
.two-img .img-item {
  display: inline-block;
  vertical-align: top;
  width: 2.816rem;
  height: 2.816rem;
  border-radius: 0.034133333333333rem;
  margin-bottom: 0.085333333333333rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/1.jpg");
}
.two-img .img-item:nth-of-type(odd) {
  margin-right: 0.085333333333333rem;
}
.three-img {
  font-size: 0;
}
.three-img .img-item {
  display: inline-block;
  vertical-align: top;
  width: 1.8432rem;
  height: 1.8432rem;
  margin-bottom: 0.085333333333333rem;
  border-radius: 0.034133333333333rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/1.jpg");
}
.three-img .img-item:not(:nth-of-type(3n)) {
  margin-right: 0.085333333333333rem;
}
.three-img .img-item .more-mask {
  width: 100%;
  height: 100%;
  font-size: 0.6144rem;
  color: #fff;
  background-color: rgba(36,146,252,0.3);
  text-align: center;
  line-height: 3;
}
.mask-box {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}
